@import '/src/styles/variables.scss';

.errorDetailDestination {
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: $white-color;

  .destinationContentsBox {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    word-break: break-all;

    .titleText {
      margin-bottom: 20px;
      font-weight: 600;

      .dataText {
        margin-left: 20px;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}
