@import '/src/styles/variables.scss';

.main {
  @include flex(space-between, null, null);
  margin: 0 auto;
  padding: 2.8125vw 1vw 1vw 1vw;
}

.robotInfoWrap {
  button {
    @include flex(flex-start, center, null);
    border: none;
    background: none;
    font-size: 0.7813vw;
    cursor: pointer;
  }
}
