@import '/src/styles/variables.scss';

.main {
  @include flex(space-between, null, null);
  margin: 0 auto;
  margin-top: 3.6458vw;
  width: 80vw;
  min-height: 38.5938vw;
}

.robotInfoWrap {
  button {
    @include flex(flex-start, center, null);
    border: none;
    background: none;
    font-size: 1.5vw;
    cursor: pointer;
  }
}
