.RobotKakaoMap {
display: flex;
flex-direction: column;
width: 100%;  
.RobotKakaoMapHeader { 
    border-bottom: 1px solid black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}