@import '/src/styles/variables.scss';
.tabContent {
  @include flex(space-between, center, null);

  .dataBox {
    @include flex(center, center, null);
    gap: 2.0833vw;
    width: 20vw;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 25px;
      background-color: #ccc;
    }
    &:first-child::before {
      content: none;
    }

    .mainData {
      font-size: 2.7778vw;
      font-weight: 700;
      text-align: center;
      letter-spacing: -0.05em;

      .mainUnit {
        margin-left: 0.3472vw;
        font-size: 1.6667vw;
      }
    }
    .compareBox {
      p {
        line-height: 1.3889vw;
      }
      .compareIcon {
        margin-right: 0.3472vw;
        font-size: 1.3889vw;
      }

      .resultValue {
        @include flex(space-between, center, null);
      }
    }
  }
}
