@import '../../../../../../styles/variables.scss';

.errorStatic {
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;

  .staticHeader {
    margin-bottom: 20px;
    width: 100%;
    font-weight: 600;
  }

  .staticContentsBox {
    width: 100%;

    .statisticTypeBox {
      @include flex(space-between, center, row);
      padding: 0 20px;
      margin-bottom: 10px;
      width: 100%;
      height: 50px;
      background: white;
      border-radius: 15px;

      .statisticItem {
        @include flex(center, center, row);
        width: 100px;
        background: white;

        .statisticColorBox {
          margin-right: 10px;
          width: 12px;
          height: 12px;
          border-radius: 12px;
        }

        .statisticText {
          margin-top: 3px;
          background: white;
        }
      }
    }
    .statisticCountsBox {
      @include flex(space-between, center, row);
      // padding-right: 30px;
      padding: 0 20px;
      margin-bottom: 10px;
      width: 100%;
      height: 50px;
      background: white;
      border-radius: 15px;

      .statisticCountsText {
        @include flex(center, center, row);
        width: 100px;
        background: white;
        font-weight: 600;
      }
    }
  }
}
