@import "../../../../../../../styles/variables.scss";

.mapDataContents { 
   height: 40vw;
   overflow: scroll; 
   border-radius: 0.7813vw;
   padding: 1.0417vw;
   background-color: white;
   .mapDataContentsWrapper{
      width: 60vw;  
      border-spacing: 0.5208vw;
      border-collapse: separate;
    tr {
      line-height: 1.5625vw;
    }
     th { 
        font-weight: bold;
     }
     td { 
    text-align: center;
     }
    }
} 