.robotMap {
  height: 100%;
  border: 1px solid black;
  transition: inherit;
  .imgWrap {
    position: relative;
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
    object-fit: contain;
    height: fit-content;
  }
}
