@import '/src/styles/variables.scss';

.header {
  .headerTop {
    height: 6vh;
    line-height: 6vh;
    background-color: $background-color;
    color: #39416b;

    .logo {
      font-size: 2vw;
    }
    .weatherWrap {
      @include flex(space-between, center, null);
      width: 22vw;
      height: 3vh;
      .dateWrap,
      .timeWrap {
        display: flex;
        align-items: center;
        .icon {
          font-size: 20px;
        }
        p {
          padding: 4px 4px 0;
          white-space: nowrap;
          line-height: 3vh;
        }
      }
    }
    .userIcon {
      @include flex(center, center, null);
      position: relative;
      cursor: pointer;
    }
  }
  .innerHeader {
    @include flex(space-between, center, null);
    width: 98vw;
    margin: 0 auto;
  }
  .headerBottom {
    @include flex(space-between, null, null);
    width: 99vw;
    gap: 1vw;
    // @include flex(center, center, null);
    // height: 10vh;
    // gap: 1.3889vw;

    .robotInfoWrap {
      @include flex(space-between, center, null);
      padding: 0 1vw;
      width: 100%;
      height: 14vh;
      background-color: #fff;
      border-radius: 30px;

      button {
        width: 5vw;
        .arrowName {
          font-size: 1vw;
        }
        &.arrowRight {
          @include flex(flex-end, center, null);
        }
      }
    }
  }
}
