@import '/src/styles/variables.scss';

.header {
  .headerTop {
    border: 1px solid black;
  }
  .innerHeader {
    @include flex(space-between, null, null);
    max-width: 1200px;
    margin: 0 auto;
  }
  .headerBottom {
    border: 1px solid black;
    .menuWrap {
      @include flex(space-between, center, null);
      max-width: 1200px;
      margin: 0 auto;
      li {
        width: 20%;
        height: 150px;
        border: 1px solid black;
      }
    }
  }
}
