.RobotKakaoMap {
display: flex;
flex-direction: column;
width: 24vw;  
.RobotKakaoMapHeader {  
    display: flex;
    align-items: center;  
    margin:0.8333vw 0vw 1.5625vw 0vw;
    font-size: 1.0417vw;
    font-weight: 600; 
}
}