@import '/src/styles/variables.scss';

.detail {
  @include flex(space-between, flex-start, null);
  max-width: 1200px;
  margin: 20px auto;

  .detailLeft {
    width: 49%;
  }
  .detailRight {
    width: 49%;

    .chartWrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 10px;
      height: 200px;
    }
  }
}
