@import '/src/styles/variables.scss';

.errorDetailInfo {
  width: 18.6979vw;
  max-height: 17.8646vw;
  padding: 1.1979vw;
  border-radius: 0.7813vw;
  background-color: $white-color;

  .infoContentsBox {
    padding: 1.1979vw;
    width: 100%;
    height: 100%;
    background: $background-color;
    border-radius: 0.7813vw;

    .titleText {
      font-size: 0.8854vw;
      font-weight: 600;
      margin-bottom: 1vw;
    }

    .contentsText {
      font-size: 0.6771vw;
      margin: 0.5vw 0;
    }
  }
}
