@import '../../../../styles/variables.scss';

.errorListPresenter {
  padding: 1.6146vw 0.9375vw;
  width: 20.2083vw;
  // height: 42.9688vw;
  height: 72.228vh;
  background: $white-color;
  border-top-right-radius: 1.5625vw;
  border-bottom-right-radius: 1.5625vw;
  border: 1px solid black;

  .categoryBox,
  .calendarBox {
    margin-bottom: 0.9896vw;
  }

  .errorListBox {
    padding: 0.7292vw;
    width: 100%;
    height: 51vh;
    border: 1px solid black;
    background: $background-color;
    overflow: scroll;
    overflow-x: hidden;
  }

  .errorList {
    margin-bottom: 0.6771vw;
    width: 100%;
    min-height: 4.0625vw;
    border: 1px solid black;
    background: $white-color;
    padding: 0.6771vw;
  }

  .checkedErrorList {
    margin-bottom: 0.6771vw;
    width: 100%;
    border: 3px solid black;
    padding: 0.6771vw;
  }

  .errorText {
    margin-bottom: 0.1042vw;
    font-size: 0.6771vw;
  }
}
