@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin font($size: 16px, $height: 1, $spacing: normal, $weight: 500) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
  line-height: $height;
}

@mixin position(
  $position: relative,
  $top: 0px,
  $right: 0px,
  $bottom: 0px,
  $left: 0px
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

$primary-color: #5655a5;
$subPrimary-color: #8887c0;
$background-color: #f0f3fa;
$white-color: #fff;
$black-color: #000;
$critical-color: #d9376d;
$major-color: #406dfa;
$minor-color: #299d38;
