@import '/src/styles/variables.scss';

.errorDetailPresenter {
  @include flex(space-between, 'null', 'null');
  width: 100%;
  margin-top: 30px;
  padding-left: 6vw;
  padding-right: 1vw;

  .gridBox {
    width: 75%;
    height: 700px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(30%, auto));
    gap: 2rem;
  }
}
