@import '../../../../../../styles/variables.scss';

.errorLogPresenter {
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;

  .logHeader {
    width: 100%;
    margin-bottom: 15px;
    font-weight: 600;
  }

  .errorButtonBox {
    @include flex(flex-end, center, row);
    margin-top: 20px;
    width: 100%;
  }

  .errorLogBox {
    @include flex(flex-end, left, column);
    width: 100%;
    height: 300px;
    text-align: right;
  }
}
