@import '../../../../../../styles/variables.scss';

.errorLogPresenter {
  @include flex(flex-end, left, column);
  width: 100%;
  height: 300px;
  text-align: right;

  .errorButtonBox {
    @include flex(space-between, center, row);
    width: 100%;
    border: 1px solid black;
  }

  .errorLogBox {
    @include flex(flex-end, left, column);
    width: 100%;
    height: 300px;
    text-align: right;
  }
}
