@import '/src/styles/variables.scss';

.kakaoDataContainer {
    @include flex(null, null, column); 
    width: 24vw;  
    height: 80vh; 
    margin-top: 0.8333vw; 
    .kakaoDataImpo {
        width: 24vw;   
    } 
    .kakaoDataImpoContent {
        @include flex(null, center, null); 
        width: 24vw; 
        font-size: 1.0417vw;
        font-weight: bold; 
    }
    .kakaoDataItemWrapper {
        @include flex(flex-end, center, null); 
        width: 24vw; 
        height: 1.5625vw; 
        text-indent: 0.2604vw;
    }
    .kakaoDataEachItem {
        @include flex(center, center, null); 
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0.5208vw
    }
    .kakaoDataErrorItem {
        width: 0.4688vw;
        height: 0.4688vw; 
        border-radius: 2.6042vw;
        background-color:#5755A5;
    }
    .kakaoDataServingItem {
        width: 0.4688vw;
        height: 0.4688vw; 
        border-radius: 2.6042vw;
        background-color:#8887C0; 
    }
    .kakaoDataWaitingItem {
        width: 0.4688vw;
        height: 0.4688vw; 
        border-radius: 2.6042vw;
        background-color:#BBBCDB; 
    }
    .kakaoDataRepairItem {
        width: 0.4688vw;
        height: 0.4688vw; 
        border: 0.0521vw solid black;
        border-radius: 2.6042vw;
        background-color:#EEEEF7;
    }
    .kakaoDataItemType {
       font-size: 0.6771vw;
        // padding-left: 0.2604vw;
    }
    .kakaoDataImpoWrapper{  
        @include flex(null, center, column);  
        margin-bottom: 1.0417vw; 
        border-radius: 0.5208vw;
        background-color: white;
        padding-bottom: 0.5208vw;
    }
    .kakaoDataCookGauge {
        width: 24vw; 
        margin: 0.2604vw; 
    } 
    .kakaoDataBranchWrapper { 
        @include flex(space-between, center, null);   
        padding: 0.5208vw 1.0417vw 0.5208vw 1.0417vw; 
        cursor: pointer;
    }
    .branchMark {
        width: 2.9688vw;
        height: 2.9688vw;
    }
    .kakaoDataBranchMove {
        @include flex(space-evenly, null, column); 
        width: 24vw; 
        height: 2.6042vw;
        padding-left: 0.5208vw; 
    }
    .kakaoDataBranchName{
        width: 12vw;  
        font-size: 1.0417vw;  
        font-weight: bold;
    } 
    .kakaoDataBranchLocation {
        font-size: 0.6771vw;
    }
    .kakaoDataBranchArrow {
        font-size: 1.0417vw;
        font-weight:600;
    }
    .kakaoDataStatusDisplay {
        @include flex(center, null, null); 
        width: 24vw; 
        font-size: 0.5208vw;   
    }
    .kakaoDataGauge {
        @include flex(null, null, null); 
        width: 22vw;
        height: 0.7813vw;
        margin-top: 1.0417vw;
        border: 0.0521vw solid $primary-color;
        background: repeating-linear-gradient(
          90deg,
          $primary-color 0 0.0521vw,
          #eeeef6 0 10%
        );
        border-radius: 1.0417vw;
        overflow: hidden;
        transition: width 0.5s ease-in-out;
        .error { 
            height: 1.1979vw;
            background-color: #5755A5;
            opacity: 0.8;
        }
        .serving { 
            height: 1.1979vw;
            background-color: #8887C0; 
            opacity: 0.8;
        }
        .waiting { 
            height: 1.1979vw;
            background-color: #BBBCDB; 
            opacity: 0.8;
        }
        .repair { 
            height: 1.1979vw;
            background-color: #EEEEF7;
            opacity: 0.8;
        }
    }
    .kakaoData {
        @include flex(space-evenly, null, null); 
        width: 24vw; 
    }
    .kakaoDataWrapper { 
        @include flex(center, center, null); 
        width: 5.8854vw;
        height: 1.7708vw;
        font-size: 0.7813vw; 
        border-radius: 1.0417vw;
        background-color: #F1F3FA;
    }
    .storeDataCount {
    font-weight: bold;
    text-indent: 0.2604vw;
    }
    .kakaoDataViewMore {
      text-align: center;
      font-size: 1.0417vw;
}
} 