.kakaoDataContainer {
    display: flex;
    flex-direction: column;
    width: 24vw;  
    height: 80vh; 
    margin-top: 0.8333vw; 
    .kakaoDataImpo {
        width: 24vw;   
    } 
    .kakaoDataImpoContent {
        width: 24vw;
        display: flex;
        align-items: center;
        font-size: 1.0417vw;
        font-weight: bold; 
    }
    .kakaoDataItemWrapper {
        width: 24vw; 
        height: 1.5625vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .kakaoDataEachItem {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0.2604;
    }
    .kakaoDataErrorItem {
        width: 0.4688vw;
        height: 0.4688vw; 
        border-radius: 2.6042vw;
        background-color:#5755A5;
    }
    .kakaoDataServingItem {
        width: 0.4688vw;
        height: 0.4688vw; 
        border-radius: 2.6042vw;
        background-color:#8887C0; 
    }
    .kakaoDataWaitingItem {
        width: 0.4688vw;
        height: 0.4688vw; 
        border-radius: 2.6042vw;
        background-color:#BBBCDB; 
    }
    .kakaoDataRepairItem {
        width: 0.4688vw;
        height: 0.4688vw; 
        border: 0.0521vw solid black;
        border-radius: 2.6042vw;
        background-color:#EEEEF7;
    }
    .kakaoDataItemType {
       font-size: 0.6771vw;
        padding-left: 0.2604vw;
    }
    .kakaoDataImpoWrapper{  
        display: flex; 
        align-items: center;
        flex-direction: column;
        margin-bottom: 1.0417vw; 
        border-radius: 0.5208vw;
        background-color: white;
        padding-bottom: 0.5208vw;
    }
    .kakaoDataCookGauge {
        width: 24vw; 
        margin: 0.2604vw; 
    } 
    .kakaoDataBranchWrapper { 
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding: 0.5208vw 1.0417vw 0.5208vw 1.0417vw; 
        cursor: pointer;
    }
    .branchMark {
        width: 2.9688vw;
        height: 2.9688vw;
    }
    .kakaoDataBranchMove {
        width: 24vw; 
        height: 2.6042vw;
        padding-left: 0.5208vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
    }
    .kakaoDataBranchName{
        width: 12vw;  
        font-size: 1.0417vw;  
        font-weight: bold;
    } 
    .kakaoDataBranchLocation {
        font-size: 0.6771vw;
    }
    .kakaoDataBranchArrow {
        font-size: 1.0417vw;
        font-weight:600;
    }
    .kakaoDataStatusDisplay {
        width: 24vw; 
        font-size: 0.5208vw;  
        display: flex; 
        justify-content: center; 
    }
    .kakaoDataGauge {
        width: 22vw;
        height: 1.1979vw;  
        display: flex;  
        border-radius: 0.5208vw; 
        margin-top: 0.5208vw;
        .error { 
            height: 1.1979vw;
            background-color: #5755A5;
            border-radius: 0.5208vw 0vw 0vw 0.5208vw; 
        }
        .serving { 
            height: 1.1979vw;
            background-color: #8887C0; 
        }
        .waiting { 
            height: 1.1979vw;
            background-color: #BBBCDB; 
        }
        .repair { 
            height: 1.1979vw;
            background-color: #EEEEF7;
            border-radius:0vw 0.5208vw 0.5208vw 0vw;
        }
    }
    .kakaoData {
        width: 24vw;
        display: flex;
        justify-content: space-evenly; 
    }
    .kakaoDataWrapper { 
        width: 5.8854vw;
        height: 1.7708vw;
        font-size: 0.7813vw;
        display: flex; 
        justify-content: center;
        align-items: center;  
        border-radius: 1.0417vw;
        background-color: #F1F3FA;
    }
.storeDataCount {
    font-weight: bold;
    text-indent: 0.2604vw;
}
.kakaoDataViewMore {
    text-align: center;
    font-size: 1.0417vw;
}
}