@import "../../../../../../../styles/variables.scss";

.userDataContents {
    width: 100%;
    height: 85vh;
    border: 1px solid red;
    overflow: scroll; 
   .userDataContentsWrapper{
    width: 100%;  
    tr {
       line-height: 30px;
    }
     th { 
        font-weight: bold;
        border: 1px solid red;
     }
     td { 
    text-align: center;
    border: 1px solid red;
     }
    }
} 
