@import '/src/styles/variables.scss';
.mainTab {
  height: 94vh;
  background-color: #39416b;
  border-radius: 0 30px 30px 0;
  color: #fff;
  z-index: 999;
}
.navContainer {
  width: 14vw;
  height: 100%;

  .profileWrap {
    @include flex(center, center, null);
    width: 100%;
    padding: 2vw;
    .profileIcon {
      font-size: 6vw;
    }
  }
  .navWrap {
    padding-left: 8px;

    li {
      @include flex(flex-start, center, null);
      padding: 1vw;
      height: auto;
      border-radius: 30px 0 0 30px;
      cursor: pointer;
      .imgBox {
        width: 12%;
        img {
          width: 100%;
        }
      }

      .menuName {
        padding-left: 10px;
      }
    }
  }
}
