@import '/src/styles/variables.scss';
.mainTab {
  @include flex(space-between, flex-start, null);
  position: fixed;
  left: 0;
  height: 100vh;
  background-color: white;
}
.navContainer {
  width: 5vw;
  height: 100%;
  border: 1px solid black;
  .navWrap {
    li {
      padding: 10px 0;
      text-align: center;
      cursor: pointer;
      .menuName {
        display: block;
      }
    }
  }
}
